.header {
    width: 100%;
    height: 70px;
}

body a {
    text-decoration: none;
}

.header .package {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.header .package .shop_name {
    float: left;
    height: 98%;
}

.header .package .shop_name a {
    text-decoration: none;
    margin: auto;
    font-family: 'Comfortaa', cursive;
}

.header .package .shop_name a h1 {
    padding-top: 16px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header .package .box_search {
    margin-top: -1px;
    height: 100%;
    display: flex;
    margin: auto;
    float: right;
}

.header .package .box_search span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-right: 5px;
    padding-top: 9px;
}

.header .package .box_search .search {
    padding-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: bold;
}

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 200px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

input[type=submit] {
    background: #ededed no-repeat 9px center;
    border: solid 1px #ccc;
    width: 80px;
    height: 40px;
    border-radius: 10px;
}


/* end search */

.header .package .infor {
    padding-left: 30px;
    padding-top: 25px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header .package .infor a.account {
    text-decoration: none;
    color: black;
}

#show {
    position: relative;
}

#hide {
    z-index: 2000;
    padding-left: 5px;
    width: 110px;
    height: 60px;
    background-color: rgb(214, 214, 214);
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.header .package .infor a.account:hover #hide {
    visibility: visible;
    opacity: 1;
}

.header .package .infor .product a.cart {
    text-decoration: none;
    color: black;
    display: flex;
    position: relative;
}

#cart {
    font-size: 30px;
    padding-left: 5px;
}

.header .package .infor .product a.cart ul {
    padding-left: 5px;
    padding-top: 0px;
}

.header .package .infor .product a.cart ul li {
    font-size: 12px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header .package .infor .product span {
    z-index: 2000;
    padding-left: 10px;
    padding-top: -2px;
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 250px;
    height: 60px;
    background-color: #ccc;
    color: black;
}

.header .package .infor .product:hover span {
    visibility: visible;
    opacity: 1;
}


/* end-header */

.menu {
    padding-top: 0px;
    width: 100%;
    height: 40px;
    background-color: #333;
}

.menu .package {
    width: 80%;
    height: 100%;
    margin: auto;
}

.menu .package .menu-ngang {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.menu .package .menu-ngang #menu1 {
    list-style: none;
    padding-top: 7px;
    padding-bottom: 6px;
}

.menu .package .menu-ngang #menu1 a.item1 {
    color: white;
    text-decoration: none;
}

.menu .package .menu-ngang #menu1 a.item1:hover {
    color: rosybrown;
}

#menu11 {
    z-index: 100;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    padding-left: 0;
    margin-top: 9px;
    color: black;
    background: white;
    list-style: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#menu11 li {
    list-style: none;
}

#menu11 li #item2:hover {
    background-color: rgb(230, 250, 252);
}

.menu .package .menu-ngang #menu1:hover #menu11 {
    visibility: visible;
    opacity: 1;
}

#item2 {
    display: block;
    margin-left: 0px;
    padding: 12px 24px;
    text-decoration: none;
    color: black;
}


/* end-menu */